*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7B7B7B;
}

.main button{
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    border-radius: 1rem;
}

#buttonPink{
    background-color: pink;
}

#buttonBlack{
    background-color: black;
}

#buttonWhite{
    background-color: white;
}

#buttonClear{
    background-color: white;
    width: 5%;
    height: 5%;
    margin-bottom: 1rem;
    border-radius: 30%;
    margin-top: -2rem;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    width: 50vw;
    height: 70vh;
    background-color: pink;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.screen{
    width: 100%;
    height: 100%;
    background-color: pink;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inside{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid black
}

.inside div{
    border: 0.01px solid black;
}


